# Circuitscript default lib

def net(net_name, net_type = "any"):
    return create component:
        pins: 1
        copy: true
        angle: -90
        display: create graphic (params):
            hline: -50, 0, 100
            vpin: 1, 0, 50, -50, display_pin_id=false
            label: params.net_name, 0, -15, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 10
            net_type: net_type

def supply(net_name):
    net_obj = net(net_name, "source")
    return net_obj

def label(value, anchor="left"):
    return create component:
        pins: 1
        copy: true
        followWireOrientation: false
        display: create graphic (params):
            textColor: "#222"
            label: params.value, 0, -10, fontSize=50, anchor=anchor
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "net"
        params:
            net_name: value
            value: value
            priority: 5

def port(value, portType="input"):
    return create component:
        pins: 1
        copy: true
        display: create graphic (params):
            textColor: "#222"
            label: params.value, 0, 0, fontSize=40, anchor="left", vanchor="middle", portType=portType
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "port"
        params:
            net_name: value
            value: value
            priority: 5

def res(value):
    width = 140
    height = 60
 
    return create component:
        pins: 2
        display: create graphic (params):
            crect: 0, 0, width, height
            hpin: 1, -width/2 - 30, 0, 30
            hpin: 2, width/2 + 30, 0, -30
            label: params.refdes, -width/2, -height/2 - 20, fontSize=50, anchor="left"
            label: params.value, 0, 0, fontSize=30, anchor="middle", vanchor="middle"
        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def cap(value):
    width = 120
    height = 40

    return create component:
        pins: 2
        angle: 90
        display: create graphic (params):
            lineWidth: 13
            hline: -width/2, 20, width
            hline: -width/2, -20, width
            vpin: 1, 0, -100, 80
            vpin: 2, 0, 100, -80
            label: params.refdes, 80, -30, fontSize=50, anchor="left", vanchor="middle"
            label: params.value, 80, 30, fontSize=50, anchor = "left", vanchor="middle"
        type: "cap"
        params:
            value: value
            size: "0402"
            footprint: "Capacitor_SMD:C_0402_1005Metric"

def ind(value):
    width = 200
    height = 100

    return create component:
        pins: 2
        type: "ind"
        display: create graphic (params):
            arc: -75, 0, 25, 180, 360
            arc: -25, 0, 25, 180, 360
            arc: 25, 0, 25, 180, 360
            arc: 75, 0, 25, 180, 360
            hpin: 1, -width/2 - 100, 0, 100
            hpin: 2, width/2 + 100, 0, -100
            label: (params.refdes, -width/2, -height/2 - 25 , fontSize=50, anchor="left")
            label: (params.value, 0, 50, fontSize=50, anchor="middle", vanchor="middle")
        params:
            value: value

def diode():
    width = 100
    height = 100

    # Diode is drawn horizontally
    #  -|>|-
    return create component:
        pins: 2
        type: "diode"
        display: create graphic (params):
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            hpin: 1, -width/2-100, 0, 100    # cathode
            hpin: 2, width/2 + 100, 0, -100  # anode
            label: params.refdes, 0, -100, fontSize=50, anchor="middle", vanchor="top"

def led(color):
    width = 100
    height = 100

    # anode and cathode pin numbers follow KiCad
    return create component:
        pins:   
            1: "cathode"
            2: "anode"
        type: "diode"
        display: create graphic (params):
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            path: ("M", 70, 30, "L", 130, 90,
                    "M", 130, 60, "L", 130, 90, "L", 100, 90)
            path: ("M", 120, 30, "L", 180, 90,
                    "M", 180, 60, "L", 180, 90, "L", 150, 90)
            hpin: 1, width/2 + 100, 0, -100  # cathode
            hpin: 2, -width/2-100, 0, 100    # anode
            label: params.refdes, 0, -100, fontSize=50, anchor="middle", vanchor="top"
            label: params.color, 0, 100, fontSize=40, anchor="middle", vanchor="bottom"
        params:
            size: "0603"
            color: color
            footprint: "LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder"



def cgnd():
    net_name = "gnd"
    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic (params):
            hline: -15, 0, 30
            hline: -10, 5, 20
            hline: -5, 10, 10
            vpin: 1, 0, -10, 10, display_pin_id=false
            label: params.net_name, 0, 22, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def dgnd(net_name="GND"):
    height = 50
    width = 100

    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic (params):
            triangle: 0, 0, 0, height, width
            vpin: 1, 0, -50, 50, display_pin_id=false
            label: params.net_name, 0, height + 50, fontSize=50, anchor="middle", vanchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def text(value, offsetX = 0, offsetY = 0, fontSize = 50):
    return create component:
        pins: 1
        followWireOrientation: false
        type: "graphic"
        display: create graphic:
            pin: 1, 0, 0, 0, 0, display_pin_id=false
            text:
                content: value
                offset: offsetX, offsetY
                fontSize: fontSize

# Drawing markers

def marker_point():
    return create component:
        pins: 1
        display: create graphic:
            hline: -5, 0, 10
            vline: 0, -5, 10
            pin: 1, 0, 0, 0, 0, display_pin_id=false

def arrow_point():
    return create component:
        pins: 1
        followWireOrientation: false
        display: create graphic:
            lineWidth: 2
            path: ("M", -10, -5, "L", -5, 0, "L", -10, 5)
            path: ("M", -5, 0, "L", -20, 0)
            hpin: 1, 0, 0, 0, display_pin_id=false

def no_connect(size=20):
    return create component:
        pins: 1
        type: "graphic"
        display: create graphic:
            path: "M", -size, -size, "L", size, size
            path: "M", -size, size, "L", size, -size
            pin: 1, 0, 0, 0, 0, display_pin_id=false

def dnc(size=20):
    return no_connect(size)

def sheet_generator(paper_size_name, paper_width, paper_height, margin_x, margin_y, 
    col_display_value, row_display_value, inner_frame_margin = 50):
    
    horizontal_1 = margin_x - inner_frame_margin
    horizontal_2 = paper_width - margin_x + inner_frame_margin

    vertical_1 = margin_y - inner_frame_margin
    vertical_2 = paper_height - margin_y + inner_frame_margin

    inner_width = paper_width - 2 * margin_x
    inner_height = paper_height - 2 * margin_y

    tmp_height = paper_height - margin_y * 2 + inner_frame_margin * 2
    tmp_y = margin_y - inner_frame_margin

    tmp_width = paper_width - margin_x * 2 + inner_frame_margin * 2
    tmp_x = margin_x - inner_frame_margin

    fontSize = 30

    num_columns = len(col_display_value)
    num_rows = len(row_display_value)

    ratio_x = 1 / num_columns
    ratio_y = 1 / num_rows

    title_block_width = 2000
    title_block_height = 350

    # center of title_block
    title_block_x = margin_x + inner_width - title_block_width
    title_block_y = margin_y + inner_height - title_block_height

    title_block_x2 = title_block_x + title_block_width
    title_block_y2 = title_block_y + title_block_height

    return create component:
        type: "graphic"
        display: create graphic (params):
            fill: "none"

            # outer rect 
            lineColor: "#cccccc"
            crect: (paper_width/2, paper_height/2, 
                paper_width, paper_height, class="paper-area")

            # inner rect
            lineColor: "#111111"
            crect: (paper_width/2, paper_height/2, 
                    inner_width, inner_height, class="plot-area")

            crect: (paper_width/2, paper_height/2, 
                    paper_width - 2 * margin_x + inner_frame_margin * 2, 
                    paper_height - 2 * margin_y  + inner_frame_margin * 2)

            for i in range(1, num_rows):
                hline: horizontal_1, (tmp_y + tmp_height * ratio_y * i), inner_frame_margin
                hline: horizontal_2, (tmp_y + tmp_height * ratio_y * i), -inner_frame_margin

            for i in range(1, num_columns):
                vline: (tmp_x + tmp_width * ratio_x * i),     vertical_1, inner_frame_margin
                vline: (tmp_x + tmp_width * ratio_x * i),     vertical_2, -inner_frame_margin

            # labels on the columns
            for i in col_display_value:
                text: 
                    content: i
                    offset: tmp_x + tmp_width * ratio_x * (0.5 + (i-1)), tmp_y + inner_frame_margin * 0.5 + 2
                    fontSize: fontSize
                    anchor: "middle"
                    vanchor: "middle"

                text: 
                    content: i
                    offset: tmp_x + tmp_width * ratio_x * (0.5 + (i-1)), tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                    fontSize: fontSize
                    anchor: "middle"
                    vanchor: "middle"

            for index, val in enumerate(row_display_value):
                text: 
                    content: val
                    offset: tmp_x + inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * (0.5 + index)
                    fontSize: fontSize
                    anchor: "middle"
                    vanchor: "middle"

                text: 
                    content: val
                    offset: tmp_x + tmp_width - inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * (0.5 + index)
                    fontSize: fontSize
                    anchor: "middle"
                    vanchor: "middle"

            # Draw title frame
            text: 
                content: "Size: " + paper_size_name
                offset: title_block_x + 20, title_block_y2 - 30
                anchor: "left"
                vanchor: "bottom"

            text:
                content: "Sheet: " + params.sheet_number + "/" + params.sheet_total
                anchor: "left"
                vanchor: "bottom"
                offset: title_block_x + title_block_width / 2 + 20, title_block_y2 - 30

            hline: title_block_x, title_block_y2 - 100, title_block_width
            vline: title_block_x + title_block_width / 2, title_block_y2, -100

            text:
                content: "Rev: " + params.revision
                anchor: "left"
                vanchor: "bottom"
                offset: title_block_x + 20 , title_block_y2 - 130

            hline: title_block_x, title_block_y2 - 200, title_block_width

            text: 
                content: params.title
                offset: title_block_x + 20, title_block_y2 - 240
                bold: true
                fontSize: 60
                anchor: "left"
                vanchor: "bottom"

            crect: (title_block_x + title_block_width / 2, 
                    title_block_y + title_block_height / 2, 
                    title_block_width, title_block_height,
                    class="keepout-area")

        params:
            title: "Sheet title"
            revision: "V1"
            sheet_number: 1
            sheet_total: 1

            paper_size: paper_size_name
            paper_width: paper_width
            paper_height: paper_height
            
            offset_x: margin_x
            offset_y: margin_y
            
            grid_width: paper_width - 2 * margin_x
            grid_height: paper_height - 2 * margin_y

def sheet_A1():
    paper_width = toMils(841)
    paper_height = toMils(594)
    margin = 400

    return sheet_generator("A1", paper_width, paper_height, margin, margin, 
        range(1, 17), ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L"])

def sheet_A2():
    paper_width = toMils(594)
    paper_height = toMils(420)
    margin = 400

    return sheet_generator("A2", paper_width, paper_height, margin, margin, 
        range(1, 13), ["A", "B", "C", "D", "E", "F", "G", "H"])

def sheet_A3():
    paper_width = toMils(420)
    paper_height = toMils(297)
    margin = 400

    return sheet_generator("A3", paper_width, paper_height, margin, margin, 
        range(1, 9), ["A", "B", "C", "D", "E", "F"])

def sheet_A4():
    paper_width = toMils(297)
    paper_height = toMils(210)
    margin = 400

    return sheet_generator("A4", paper_width, paper_height, margin, margin, 
        range(1, 7), ["A", "B", "C", "D"])

def sheet_A5():
    paper_width = toMils(210)
    paper_height = toMils(148)
    margin = 400

    return sheet_generator("A5", paper_width, paper_height, margin, margin, range(1, 5), ["A", "B", "C"])

def sheet_A6(revision="V1"):
    paper_width = toMils(148)
    paper_height = toMils(105)
    margin = 400

    tmp_sheet = sheet_generator("A6", paper_width, paper_height, margin, margin, range(1, 4), ["A", "B"])
    tmp_sheet.revision = revision

    return tmp_sheet

document.sheet_type = sheet_A4()